
.autocomplete + .suggestions {
	background: white;
	border: 1px solid #ddd;
	margin-top: -1px;
	max-height: 24em;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0;
	position: absolute;
	user-select: none;
	z-index: 1;

	&:empty {
		height: 2em;
		width: 50px;
	}

	> * {
		cursor: pointer;
		list-style: none;
		padding: .5em 1em;

		&:hover {
			background: #efe;
		}

		&.selected {
			background: #edf;
		}

		&.selected:hover {
			background: #dce;
		}
	}
}
